<html>

<head>
  <title>CuteBank</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div id="content">
    <div class="fon-content">

      <div class="do_balance">
        
        <div class="input_balance">
          <%= form_for :user, :url => {:controller => :user, :action => :index} do |f| %>
            <% if @user.errors.any? %>
              <% @user.errors.full_messages.each do |msg| %>
                <div class= "alertUser ">
                  <%= msg%>
                </div>
              <% end %>
            <% end %>
            <p >
              <%= f.text_field :current_balance, :placeholder => 'Input value:', :class => 'input_monay' %>
            </p>

            <p >
              <%= f.submit 'Deposit', :class => 'submit-deposit' %>
            </p>

            <p >
              <%= f.submit 'Withdraw', :class => 'submit-withdraw' %>
            </p>

          <%end%>
        </div>
      


        <div class="balance">
        <div>
        Balance:<br>
        <%=  @user.current_balance%>
        <br>
        ---
        <br>Latest operations:


        <table>
        <tr><th>Operation</th><th>Amount</th></tr>
          <%if @record !=nil%>
            <%@record.each do |item|%>



              <tr>
              <td><%=item.operation_type%></td>
              <td>+<%=item.amount%></td>
              </tr>
             




              
            <%end%>
          <% end %>
          </table>



        </div>
      </div>


        <div class="operation_balance">
          <table>
          <tr><th>Operation</th><th>Amount</th><th>Date</th><th>Time</th><th>Balance</th></tr>
            <%if @record !=nil%>
              <%@record.each do |item|%>



                <tr>
                <td><%=item.operation_type%></td>
                <td>+<%=item.amount%></td>
                <td><%=item.created_at%></td>
                <td></td>
                <td><%=item.balance_after%></td>
                </tr>
               




                
              <%end%>
            <% end %>
            </table>
        </div>

      </div>

    </div>
  </div>
</body>

</html>